body{
  font-family: "Montserrat";
}

#title {
  background-color: #ff4c68;
  color: #fff;
  }


.container-fluid{
  padding-top: 3%;
  padding-bottom: 3%;
  padding-right: 15%;
  padding-left: 15%;
}
.collapse{
  justify-content: flex-end;
}


h1{
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;

}
.navbar{
  padding-bottom:4.5rem;
}
.nav-item{
  padding: 0 18px;
}
/* Navigation Bar */
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.row{
  text-align: center;
}
.icon{
  margin: 20px 60px;
  text-align: center;
}
h3{
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5rem;
}
h2{
  font-family: "Montserrat";
  font-size: 3rem;
  font-weight: bold;

}
p{
  color: #8f8f8f;
}
#testimonials{
  background-color: #ef8172;
  text-align: center;
  color: #fff;
  padding: 7% 15%;
}
.testimonials-image{
  border-radius: 100px;
  margin:20px;
  width: 15%;
}
#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}
#pricing{
  padding-top: 20px;
  text-align: center;
}
.row{
  padding: 3% 2%;
}
